In [17]:
import numpy as np
import pandas as pd

In [18]:
class_info = pd.read_csv('stage_2_detailed_class_info.csv')
class_info

                                  patientId                         class
0      0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1      00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2      00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3      003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4      00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity
...                                     ...                           ...
30222  c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8                  Lung Opacity
30223  c1edf42b-5958-47ff-a1e7-4f23d99583ba                        Normal
30224  c1f6b555-2eb1-4231-98f6-50a963976431                        Normal
30225  c1f7889a-9ea9-4acb-b64c-b737c929599a                  Lung Opacity
30226  c1f7889a-9ea9-4acb-b64c-b737c929599a                  Lung Opacity

[30227 rows x 2 columns]

In [19]:
count = class_info['class'].value_counts()
count

No Lung Opacity / Not Normal    11821
Lung Opacity                     9555
Normal                           8851
Name: class, dtype: int64

In [20]:
sample_sub = pd.read_csv('stage_2_train_labels.csv')
sample_sub

,patientId,x,y,width,height,Target
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1
...,...,...,...,...,...,...
30222,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,185.0,298.0,228.0,379.0,1
30223,c1edf42b-5958-47ff-a1e7-4f23d99583ba,NaN,NaN,NaN,NaN,0
30224,c1f6b555-2eb1-4231-98f6-50a963976431,NaN,NaN,NaN,NaN,0
30225,c1f7889a-9ea9-4acb-b64c-b737c929599a,570.0,393.0,261.0,345.0,1
30226,c1f7889a-9ea9-4acb-b64c-b737c929599a,233.0,424.0,201.0,356.0,1

In [21]:
scount = sample_sub['Target'].value_counts()
scount

0    20672
1     9555
Name: Target, dtype: int64

In [22]:
# import os
# folder1_path = 'C:\\Users\\santo\\Downloads\\test\\'
# folder2_path =  'C:\\Users\\santo\\Downloads\\train\\'

# # Get the list of files in folder1 and folder2
# folder1_files = os.listdir(folder1_path)
# folder2_files = os.listdir(folder2_path)

# # Create empty DataFrames to store the results
# test_csv = pd.DataFrame(columns=class_info.columns)
# train_csv = pd.DataFrame(columns=class_info.columns)
# remaining_csv = pd.DataFrame(columns=class_info.columns)

# # Iterate through folder1
# test_count = 0

# for file_name in folder1_files:
# #     print(file_name[:-4])
#     if file_name[:-4] in class_info['patientId'].values:
#         # If the file name matches, append the corresponding row to test_csv
#         test_csv = test_csv.append(class_info[class_info['patientId'] == file_name[:-4]])
#     test_count+=1
# train_count = 0
# # Iterate through folder2
# for file_name in folder2_files:
#     if file_name[:-4] in class_info['patientId'].values:
#         # If the file name matches, append the corresponding row to train_csv
#         train_csv = train_csv.append(class_info[class_info['patientId'] == file_name[:-4]])
#     train_count+=1

In [24]:
df_temp = class_info.drop_duplicates(subset=['patientId'])
df_temp

                                  patientId                         class
0      0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1      00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2      00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3      003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4      00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity
...                                     ...                           ...
30219  c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2                  Lung Opacity
30221  c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8                  Lung Opacity
30223  c1edf42b-5958-47ff-a1e7-4f23d99583ba                        Normal
30224  c1f6b555-2eb1-4231-98f6-50a963976431                        Normal
30225  c1f7889a-9ea9-4acb-b64c-b737c929599a                  Lung Opacity

[26684 rows x 2 columns]

In [25]:
count = df_temp['class'].value_counts()
count

No Lung Opacity / Not Normal    11821
Normal                           8851
Lung Opacity                     6012
Name: class, dtype: int64

In [27]:
df_temp1 = sample_sub.drop_duplicates(subset=['patientId'])
df_temp1

,patientId,x,y,width,height,Target
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1
...,...,...,...,...,...,...
30219,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2,666.0,418.0,186.0,223.0,1
30221,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,609.0,464.0,240.0,284.0,1
30223,c1edf42b-5958-47ff-a1e7-4f23d99583ba,NaN,NaN,NaN,NaN,0
30224,c1f6b555-2eb1-4231-98f6-50a963976431,NaN,NaN,NaN,NaN,0
30225,c1f7889a-9ea9-4acb-b64c-b737c929599a,570.0,393.0,261.0,345.0,1

In [28]:
count = df_temp1['Target'].value_counts()
count

0    20672
1     6012
Name: Target, dtype: int64

In [29]:
df = pd.read_csv('stage_2_train_labels.csv')

# Find duplicate patientIDs
duplicate_patientIDs = df[df.duplicated(subset=['patientId'], keep=False)]

# Create a new DataFrame with rows containing duplicate patientIDs
duplicates_df = df[df['patientId'].isin(duplicate_patientIDs['patientId'])]

# Remove the duplicates from the original DataFrame
df = df[~df['patientId'].isin(duplicate_patientIDs['patientId'])]

In [30]:
duplicates_df

,patientId,x,y,width,height,Target
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1
5,00436515-870c-4b36-a041-de91049b9ab4,562.0,152.0,256.0,453.0,1
8,00704310-78a8-4b38-8475-49f4573b2dbb,323.0,577.0,160.0,104.0,1
9,00704310-78a8-4b38-8475-49f4573b2dbb,695.0,575.0,162.0,137.0,1
14,00aecb01-a116-45a2-956c-08d2fa55433f,288.0,322.0,94.0,135.0,1
...,...,...,...,...,...,...
30220,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2,316.0,504.0,179.0,273.0,1
30221,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,609.0,464.0,240.0,284.0,1
30222,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,185.0,298.0,228.0,379.0,1
30225,c1f7889a-9ea9-4acb-b64c-b737c929599a,570.0,393.0,261.0,345.0,1
30226,c1f7889a-9ea9-4acb-b64c-b737c929599a,233.0,424.0,201.0,356.0,1

In [31]:
import random
random.seed(42)  # for reproducibility
df_temp1['random_number'] = [random.random() for _ in range(len(df_temp1))]

# Step 2: Assign 'train', 'val', or 'test' based on probabilities
df_temp1['split'] = pd.cut(df_temp1['random_number'], bins=[0, 0.8, 0.9, 1], labels=['train', 'val', 'test'])
df_temp1.drop(columns=['random_number'], inplace=True)

# Step 3: Calculate counts
counts = df_temp1.groupby(['split', 'Target']).size().unstack(fill_value=0)
total_counts = counts.sum(axis=1)

print("Counts by split and target:")
print(counts)

print("\nTotal counts by split:")
print(total_counts)

Counts by split and target:
Target      0     1
split
train   16567  4807
val      2038   623
test     2067   582

Total counts by split:
split
train    21374
val       2661
test      2649
dtype: int64

C:\Users\santo\AppData\Local\Temp\ipykernel_24428\16555634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp1['random_number'] = [random.random() for _ in range(len(df_temp1))]
C:\Users\santo\AppData\Local\Temp\ipykernel_24428\16555634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp1['split'] = pd.cut(df_temp1['random_number'], bins=[0, 0.8, 0.9, 1], labels=['train', 'val', 'test'])
C:\Users\santo\AppData\Local\Temp\ipykernel_24428\16555634.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp1.drop(columns=['random_number'], inplace=True)

In [32]:
df_temp1

,patientId,x,y,width,height,Target,split
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0,train
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0,train
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0,train
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0,train
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1,train
...,...,...,...,...,...,...,...
30219,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2,666.0,418.0,186.0,223.0,1,train
30221,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,609.0,464.0,240.0,284.0,1,train
30223,c1edf42b-5958-47ff-a1e7-4f23d99583ba,NaN,NaN,NaN,NaN,0,train
30224,c1f6b555-2eb1-4231-98f6-50a963976431,NaN,NaN,NaN,NaN,0,val
30225,c1f7889a-9ea9-4acb-b64c-b737c929599a,570.0,393.0,261.0,345.0,1,test

In [33]:
df_temp1.to_csv('RSNA_final_df.csv', index=False)